/*/////////////////////////////////////////////////
General
/////////////////////////////////////////////////*/
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #485156;
}
* {
	margin: 0;
	padding: 0;
	outline: none;
	vertical-align: baseline;
	font-size: 100%;
}
/*Text*/
h1, h2, h4, h5, p{
    color: #343434;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
.detail{
    text-align: center;
}
.detail h1 {
    font-size: 30px;
}
.price {
    color: #D72638;
    font-size: 20px;
}
#price{
    font-size: 30px;
}
#others {
    font-size: 25px;
    margin: 0px;
}
/*Images*/
.resize{
    object-fit: scale-down;
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
}
.myImg {
    border-radius: 5px;
    border: 2px solid #1FBED6;
    transition: 0.3s;
}
.myImg:hover {opacity: 0.9;}
/*Hyperlink Color*/
a{
    color: #343434;
}
a:hover{
    color: #1FBED6;
    text-decoration: none;
}
/* Navbar */
.name{
    position: absolute;
    top: 17px;
    left: 85px;
    color: #000;
    font-size: 1.8em;
}
.navbar-nav > li > a{
    /* Text verical alignment */
    padding:10px !important;
    /* Nav Height */
    height: 60px;
}
.navbar-brand {
    /* Logo verical alignment */
    padding:0px !important;
    /* Nav Height */
    height: 60px;
}
.navbar {
	min-height: 60px !important;
	color: #272424;
	background-color: #31D843;
}
.navbar li a {
	display: block;
	font-size: 1.3em;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #000;
}
.navbar li {

}
/* Hover over link */
.navbar li:hover {
  
}
.navbar a:hover {
    background-color: #249E31;
    text-decoration: none;
}
.navbar-header{
    padding-top: 0px;
}
.navbar-nav {
    float: right;
}
.navbar-brand>img {
  height: 100%;
  width: auto;
}
/* Navbar Mobile */
.hamburger{
    float: right;
    padding-right: 10px;
    padding-top: 2px;
    color: rgb(22, 22, 22); 
    font-size: 45px;
    cursor: pointer;
}
.hamburger:hover{
    color: #fff;
}
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.9);
    overflow: hidden;
    transition: 0.5s;
}
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #fff;
    display: block;
    transition: 0.3s;
}
.overlay a:hover, .overlay a:focus {
    color: #000;
}
.overlay .closebtn {
    position: absolute;
    right: 25px;
    font-size: 50px;
}
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
@media only screen and (min-width: 991px) {
    .menu {
        display:none;
        overflow: hidden;
    }
}
.menu {
    position: absolute;
    top: 0px;
    right: 0px;
}
/* Footer */
.footer-holder {
    background-color: #2DC53D;
    padding-bottom: 0;
}
.footer-holder h4, a {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
.social_icons {
    margin-left: 27%;
    margin-right: 27%;
    list-style: none;
    display: flex;
    font-size: 45px;
}
.social_icons li {
    padding-left: 10px;
    padding-right: 10px;
}
.row {
    padding: 10px;
    margin-right: 0px;
    margin-left: 0px;
}
.col-sm ul {
    list-style: none;
}
.hover:hover{
    color: #fff;
}

/*/////////////////////////////////////////////////
Index Page
/////////////////////////////////////////////////*/
/* Header */
.header {
    padding: 40px;
}
.header h1 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #343434;
    width: 100%;
    text-align: center; 
    font-size: 1.8em;
    padding: 20px;
    border-top: dashed 2px #1FBED6;
    border-bottom: dashed 2px #1FBED6; 
}
/* Main Body */
.main-container {
    margin:2em;
    border-radius:5px;
}
/* Carousel */
.slider {
    width:100%;
    position:relative;
}
.slick-slide:focus {
    outline:none;
}
.slick-slide img {
    width: 100%;
}
.slide {
    background: rgba(52,52,52,.6);
}
.slick-slide {
    transition: all ease-in-out 1s;
    opacity: .6;
}
.slick-active {
    opacity: .2;
}
.slick-current {
    opacity: 1;
}
.slick-prev:before {
    color: #808080;
}
.slick-next:before {
    color: #808080;
}
.slick-dots li button:before {
    color: #000;
}

/*/////////////////////////////////////////////////
Contact Page
/////////////////////////////////////////////////*/
input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=email], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=submit]{
    background-color: #219AA5;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover{
    background-color: #45a049;
}
.form-container{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
.message{
	height: 175px;
}

/*/////////////////////////////////////////////////
About Page
/////////////////////////////////////////////////*/
/* campus image container */
.image-container{
	position: relative;
	text-align: center;
}
.resize-about{
    object-fit: scale-down;
    width: 80%;
    height: 80%;
	opacity: 0.5;
}
/* text inside image container */
.overlay-text{
	opacity: 0.75;
	background-color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 45px;
}
.insert-text{
	font-size: 2.5vw;
}
/* google map */
.map-container{
	position: relative;
	padding-bottom: 65.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}
.map-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 20px 20px 20px 20px;
}
.location-header{
	display: block;
 	margin-left: auto;
  	margin-right: auto;
	text-align: center;
	padding: 10px;
}
/* hours of operation*/
.operation-hours{
	display: block;
 	margin-left: auto;
  	margin-right: auto;
	text-align: center;
	padding: 10px;
}
.hours-table, .hours-tr, .hours-td{
	border: 2px solid #000;
	align-content: left;
	padding: 10px;
	margin-left: auto;
  	margin-right: auto;
}
.hours-th{
	border: 2px solid #000;
	align-content: center;
	padding: 10px;
	margin-left: auto;
  	margin-right: auto;
}

/*/////////////////////////////////////////////////
Shirts, Hoodies, Accessories Pages
/////////////////////////////////////////////////*/
.divide{
    border-top: 3px dashed #249E31;
}
.bgrow{
    padding-top: 10px;
    padding-bottom: 10px;
}
.bgheader{
    padding-top: 0px;
    padding-bottom: 0px;
    border-top: dashed 3px #249E31;
    border-bottom: dashed 3px #249E31; 
}
.textheader{
	color:#000;
}

/*/////////////////////////////////////////////////
Item Pages
/////////////////////////////////////////////////*/
/*Blank T-Shirt and Design Overlay*/
.divItem{
    position: relative;
}
#color{
    position: absolute;
    top: -8px;
    z-index: -1;
}
/*Radio Button: Sizes*/
input[type="radio"] {
    width: 30px;
    height: 30px;
    border: 2px solid #1FBED6;
    border-radius: 5px;
    background-color: #fafaff;
    -webkit-appearance: none;
    -moz-appearance: none;
}
input[type="radio"]:checked {
    background-color: #1FBED6;
}
input[type="radio"]:checked ~ span:first-of-type {
    color: #343434;
}
label span {
    position: relative;
    left: -29px;
    font-size: 15px;
    color: #343434;
}
label span.extra{
    left: -32.5px;
}
label span.medium{
    left: -31.5px;
}
label span {
    position: relative;
    top: -10px;
}
/*Radio Button: Colors*/
input[type="radio"].color {
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #fafaff;
    -webkit-appearance: none;
    -moz-appearance: none;
}
input[type="radio"].color:checked {
    border: 2px solid #1FBED6;
}
input[type="radio"].color:checked ~ span:first-of-type {
    color: #fafaff;
}
label.color{
    margin-right: 15px;
}
/*Color Button: Colors*/
#black{
    background-color: #040707;
}
#white{
    background-color: #EBE7E3;
}
#navy{
    background-color: #111523;
}
#red{
    background-color: #CE5E53;
}
#green{
    background-color: #283820;
}
/* Quantity Counter */
.plus-minus-input {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.input-group-field{
    width: 50px;
    height: 10px;
    background-color: #fafaff;
    border-top: 2px solid #1FBED6;
    border-bottom: 2px solid #1FBED6;
    border-right: none;
    border-left: none;
}
.plus-minus-input .input-group-field {
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    padding: 1rem;
}
.plus-minus-input .input-group-field::-webkit-inner-spin-button,
.plus-minus-input .input-group-field ::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
}
.plus-minus-input .input-group-button .button {
    padding: 0.25em 0.25em;
    background-color: #fafaff;
    color: #1FBED6;
    border: 2px solid #1FBED6;
    transition: 0.25s;
}
/* Button */
#buy{
    height: 50px;
    width: 100%;
    background-color: #fafaff;
    color: #343434;
    border: 2px solid #1FBED6;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 15px;
    transition: 0.25s;
}
#buy:hover{
    background-color: #1FBED6;
    color: #343434;
    border: 2px solid #fafaff;
}
/* Item Carousel */
.carouselOther{
    background-color: #fafaff
}
.items{
    height: 200px;
    width: 200px;
    /* Centers Image */
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #343434;
  height: 100px;
  width: 50px;
}
.carousel-control-prev,
.carousel-control-next {
    width: 50px;
}
/* Hides Other Carousel on mobile */
@media only screen and (max-width: 575px) {
    .oCarousel {
        display: none;
    }
}